
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', sans-serif;
}

.container{
  position: relative;
  height: 100vh;
}  
.video-container{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  width: 00%;
  height: 100%;
  overflow: hidden;
}
.video-container video{
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
  opacity: 0.9; /* podés bajar esto si querés que se vea más tenue */
}
body, html {
	height: 100%;
}
.main-content {
	margin-top: 56px; 
	flex: 1;
	background-color: #f4f4f4;
}
.insti{
	width: 38px;
	border-radius: 100%;
}
.navbar-custom {
	background-color: #4a0d0b; /* Reemplaza con el color deseado */
}
  
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
	color: #ffffff; /* Ajusta el color del texto según sea necesario */
}
.btn-outline{
	color: #b66d3e;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 169, 0, 0.6)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.Logout{
  width: 20px;
}

.navbar-toggler{
	border-color: #d9a851;
}
  
  /* Barra lateral */
.sidebar {
  background-color: #fdfab5;
  width: 77px;
  border-radius: 18px;
  padding: 4rem 0rem;
  transition: width 0.3s ease;
  overflow: hidden;
}

/* Expande la barra al pasar el cursor */
.sidebar:hover {
  width: 200px;
}

.sidebar_list {
  list-style: none;
  padding-right: 2%;
  margin: 0;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

/* Estilos para cada elemento de la barra lateral */
.sidebar_element {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.4rem;
  border-radius: 3px;
  color: #d9a851;
  fill: #ffffff;
  transition: background-color 0.3s ;
}

/* Cambia el fondo y el color del texto al pasar el cursor */
.sidebar_element:not(:has(.sidebar__icon--logo)):hover {
  background-color: #d1b800;
  color: #fff;
  fill: #fff;
  cursor: pointer;
}

/* Estilos para el ícono dentro de cada elemento */

.sidebar__icon {
	margin-right: 1%;
	width: 30px;
	height: 30px;
	flex-shrink: 0;
}

/* Estilos específicos para el logo */
.sidebar__icon--logo {
  width: 40px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
  border-radius: 100%;
  max-width: 90px;
  margin-left: 9.9rem;
	height: 3rem;
}
/* Oculta el texto por defecto */
.sidebar__text {
  margin-left: 1rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}
/*Texto del perfil*/
.sidebar__title, .sidebar__info{
  padding-left: 1.5rem;
}

/* Muestra el texto al expandir la barra lateral */
.sidebar:hover .sidebar__text {
  opacity: 1;
}

/* Estilos específicos para el elemento del logo */
.sidebar_element--logo {
  justify-content: center;
  width: 30px;
  height: 80px;
  margin-bottom: 1rem;
  margin-top: auto;
  text-wrap: nowrap;
}

